@import url(./flex.css);
@import url(./table.css);
@import url(./input.css);

html {
    background-color: #eee;
}

body {
    margin: 1rem;
    font-size: 14px;
    min-width: 360px;
}

/* font */
body,
input,
select,
textarea,
pre {
    font-family: sans-serif;
}

h1 {
    font-size: 20px;
}

main {
    max-width: 50rem;
    margin: 0 auto;
    background-color: white;
    padding: 2rem 3rem;
}

.action-bar {
    margin-bottom: 1rem;
}

.auth-nav {
    margin-top: 16px;
    display: flex;
    gap: 8px;
}

/* utils */
.full {
    width: 100%;
}

@media screen and (max-width: 600px) {
    body {
        margin: 0;
    }

    main {
        width: auto;
        padding: 1rem;
    }
}