.row {
    display: flex;
}

/* jc */
.jc-end {
    justify-content: flex-end;
}

.jc-center {
    justify-content: center;
}

.jc-between {
    justify-content: space-between
}

/* ai */

.ai-center {
    align-items: center;
}